# Build directories.
/build*/
/verilator/
/bluesim/
/awsf1/
/vcu108/

# Build files
*.bo

# Caches.
[._]*cache*

# JSON compilation database (contains absolute paths).
compile_commands.json

# Generated test inputs.
*.csv

# Log files.
*.log
*.err

# Project configuration
PmConfig.bsv
param_grid_config.py

